/* ======================
   Text
   =====================*/

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 350;
    font-size: 77px;
    color: white;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 275;
    font-size: 43px;
    color: white;
}


h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 275;
    font-size: 43px;
    color: #2e4159;
    margin-bottom: 0px;
}

h4 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    font-size: 42px;
    margin-top: 75px;
    margin-bottom: 0px;
    color: #2e4159
}

h5 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 275;
    font-size: 35px;
    margin: 0px;
    color: #2e4159
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #707070
}

a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding-right: 25px;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #707070;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* ======================
   Navigation
   =====================*/

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2E4159;
    height: 138px;
}

.logo,
.menu {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    align-items: center;
    padding-left: 75px;
    padding-right: 80px;
}


.menu-bar {
    justify-content: flex-end;
}

.menu {
    font-size: 24px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-right: 75px;
    text-align: center;
}

.button {
    background-color: #2e4159;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 8px 24px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}



/* ======================
   Hero Section Grid
   =====================*/


.heroGrid {
    display: grid;
    height: 680px;
    background-color: #2e4159;
    padding: 0 55px 55px;
    grid-template-columns: 1fr 380px 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "  aboutMe headshot  ";
}

#aboutMe {
    grid-area: aboutMe;
    grid-column-start: 2;
    margin-right: 64px;
    color: white;
}

#headshot {
    grid-area: headshot;
    grid-column-start: 3;
}

/* ======================
   About Me
   =====================*/

.bioGrid {
    display: grid;
    background-color: white;
    padding: auto;
    grid-template-columns: 20% 50% 10% 20%;
    grid-template-rows: 1fr;
    grid-template-areas:
        "  bio skills  ";
}

#bio {
    grid-area: bio;
    grid-column-start: 2;
    margin-right: 64px;
    color: white;
}

#skills {
    grid-area: skills;
    grid-column-start: 3;
}

/* ======================
   My Work
   =====================*/

#myWorkGrid {
    display: grid;
    background-color: white;
    padding: auto;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 50%;
    grid-template-areas:
        "myWorkHeader myWorkHeader"
        "projectTitle projectImage";
}
   #myWorkHeader {
    grid-area: myWorkHeader;
    padding-left: 75px;
    padding-right: 75px;
}

.projectTitle {
    grid-area: projectTitle;
}

.projectImage {
    grid-area: projectImage;
}

/* ======================
   Footer
   =====================*/
.footer {
    display: inline-block;
    background-color: #2E4159;
    width: 100%;
}

.footer h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 275;
    font-size: 43px;
    line-height: 0px;
    color: white;
}

.contact {
    display: inline-block;
    padding-bottom: 25px;
    background-color: #2E4159;
    color: white;
    width: 100%;
    text-align: center;
}

.contact2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fe8888;
    color: white;
    height: 50px;
}

.contact2child {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 20px;
}

.contact2child a {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

/* MEDIA QUERY */

@media only screen and (max-width: 700px) {

    .heroGrid {
        height: auto;
        padding: 0%;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 10% 80% 10%;
        justify-content: center;
        align-content: flex-start;
        grid-template-areas:
            "  aboutMe  "
            "  headshot  ";
    }

    #aboutMe {
        grid-area: aboutMe;
        grid-column-start: 2;
        color: white;

    }

    #headshot > img {
        object-fit: cover;
        width: 100%;
        margin-bottom: 10%;
    }

    .bioGrid {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 10% 80% 10%;
        grid-template-areas:
            "  bio  "
            "  skills  ";
    }

    #bio {
        grid-row-start: 1;
        grid-column-start: 2;
    }

    #skills {
        grid-row-start: 2;
        grid-column-start: 2;
    }
}